@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply box-border;
    @apply scroll-smooth;
  }
  /* 
    ////////////////
    HEADER
    //////////////// 
    */
  .header {
    @apply flex justify-between items-center flex-row;
    @apply px-4 sm:px-0;
    @apply py-4 sm:py-0;
    @apply bg-white;
    @apply sticky top-0 sm:static sm:top-auto;
    @apply z-30;
  }
  .headerOne {
    @apply flex flex-col-reverse sm:flex-row;
    @apply items-center;
  }
  .header-logo {
    @apply w-[135px] h-[20px] sm:w-[138px] sm:h-[20px];
    @apply pb-[2px];
  }
  .navbar-menu {
    @apply flex sm:hidden;
    @apply mr-4;
  }
  .navbar-container {
    @apply flex sm:flex z-[2] sm:z-auto flex-col sm:flex-row items-start justify-start sm:items-center sm:justify-between;
    @apply fixed  top-0 -left-[60%]  w-[60%] h-screen sm:w-auto sm:h-auto sm:static bg-white sm:bg-transparent;
    @apply mx-0 sm:mx-2 md:mx-6;
    @apply p-5 sm:p-0;
    /* @apply duration-150; */
  }
  .navbar {
    @apply flex flex-col sm:flex-row text-[hsl(220,14%,75%)];
    /* bg-slate-400; */
    @apply mt-7 sm:mt-0;
  }
  .navbar-child {
    @apply mx-0 sm:mx-[10px] md:mx-[14px];
    @apply text-base sm:text-sm md:text-base;
    @apply py-2 sm:py-5 md:py-[26px];
    @apply font-semibold;
    @apply sm:border-y-[4px] sm:border-solid sm:border-transparent;
    /* @apply focus:sm:border-b-[hsl(26,_100%,_55%)]; */
    @apply text-left sm:text-center;
    @apply hover:text-[hsl(219,9%,45%)] hover:duration-150;
  }

  .headerTwo {
    @apply flex flex-row items-center;
  }
  .cart-button {
    @apply flex rounded-full cursor-pointer mx-4 sm:mx-5 lg:mx-6;
    /* @apply sm:border-[2px] sm:border-solid sm:border-transparent; */
    /* @apply active:sm:border-[hsl(26,_100%,_55%)]; */
    /* @apply focus:sm:border-[hsl(26,_100%,_55%)]; */
    /* @apply hover:sm:border-[hsl(26,_100%,_55%)]; */
    /* @apply hover:invert hover:duration-150; */
    @apply relative;
    /* @apply hover:brightness-[.9]; */
    @apply hover:opacity-[70%];
  }

  .notification {
    @apply absolute -top-2 z-[3]  px-1 sm:px-[6px];
    @apply bg-[hsl(26,100%,55%)]  text-[hsl(25,100%,94%)];
    @apply rounded-xl;
    @apply my-auto;
    @apply self-center;
    @apply align-middle;
    @apply flex items-center justify-center;
    /* @apply hover:bg-[hsl(26,100%,55%)]/50; */
  }

  .cart {
    @apply fixed top-20 sm:top-[65px] md:top-[75px];
    @apply shrink;
    /* @apply z-50; */
    @apply bg-white;
    /* @apply w-full sm:w-auto; */
    @apply right-[16px] left-[16px] sm:right-12 md:right-20 sm:left-auto;
    @apply rounded-lg;
    @apply shadow-lg shadow-black/10 drop-shadow-lg;
    /* @apply mx-4 sm:mx-0; */
    /* @apply ; */
    /* @apply inline-flex flex-col; */
  }
  .cart-content {
    @apply py-4 px-5;
  }
  .empty {
    @apply flex justify-center items-center;
    @apply min-h-[163.5px] 2xs:min-h-[230px] xs:min-h-[250px] sm:min-h-[144px] sm:min-w-[296.11px] md:min-h-[152px] md:min-w-[322.02px];
    @apply cursor-pointer;
  }

  .checkout {
    @apply flex items-center justify-center;
    @apply bg-[hsl(26,100%,55%)]  text-[hsl(25,100%,94%)];
    @apply rounded-md;
    @apply px-10;
    @apply py-3;
    @apply my-2 lg:my-3;
    @apply w-full;
    @apply hover:opacity-50 hover:duration-150;
    @apply cursor-pointer;
  }
  .user {
    @apply size-8 sm:size-9;
    @apply rounded-full cursor-pointer;

    @apply border-[2px] border-solid border-transparent;
    /* @apply active:sm:border-[hsl(26,_100%,_55%)]; */
    @apply focus:border-[hsl(26,_100%,_55%)] focus:duration-150;
    @apply hover:border-[hsl(26,_100%,_55%)] hover:duration-150;
  }

  /* 
    ////////////////
    SECTION
    //////////////// 
    */
  .section {
    @apply flex flex-col sm:flex-row;
    /* @apply my-16; */
    /* @apply bg-black/50; */
  }
  .sectionImage:nth-child(1) {
    @apply flex-1;
/* @apply bg-slate-600; */
    @apply w-full sm:w-1/2;
    @apply my-0 sm:my-8 sm:mx-8 md:my-14 md:mx-[62px];
    @apply self-center;
  }

  .sectionImage:nth-child(1) .imageDisToolCont {
    @apply rounded-none sm:rounded-2xl;
    /* @apply overflow-hidden; */
    @apply my-0 sm:my-6;
    @apply flex-1;
    @apply h-[250px] 2xs:h-[330px] xs:h-[350px] ss:h-[500px] sm:h-auto;
    @apply flex;
    @apply relative;
    @apply  duration-0 cursor-auto sm:cursor-pointer;  
    /* @apply overflow-x-auto */
  }

  .sectionImage:nth-child(1) .imageDisToolCont .imageDisplay {
    @apply rounded-none sm:rounded-2xl;
    @apply overflow-hidden;
    /* @apply my-0 sm:my-6; */
    @apply flex-1;
    @apply h-[250px] 2xs:h-[330px] xs:h-[350px] ss:h-[500px] sm:h-auto;
    @apply flex;
    @apply relative;
    /* @apply z-[1]; */
    /* @apply -z sm:z-0; */
    /* @apply  duration-0 cursor-pointer;   */
    /* @apply overflow-x-auto */
  }

  /* .sectionImage:nth-child(1) .imageDisplay > img{
    @apply hover:opacity-30 duration-150;  
} */

  /* Overflow Product Image */
  .sectionImage:nth-child(2) {
    /* @apply flex-1; */

    @apply left-0 duration-[10] fixed w-full h-screen top-0 z-[1] bg-black/60;
    @apply justify-center items-center;
    /* @apply hidden sm:block;
    @apply w-[35%] h-screen overflow-auto; 
    @apply fixed;
    @apply my-0 sm:my-8 sm:mx-8 md:my-14 md:mx-[62px];
    @apply self-center;
    @apply z-[2];
    @apply top-0; */

    /* @apply bg-black; */
  }

  .sectionImage:nth-child(2) .sectionImageOver {

    /* @apply hidden sm:block; */

    @apply w-[33%]; 
    /* @apply fixed; */
    @apply my-0 sm:my-8 sm:mx-8 md:my-14 md:mx-[62px];
    @apply self-center;
    @apply z-[2];
    /* @apply top-0; */

    /* @apply bg-black; */
  }
  .sectionImage:nth-child(2) .sectionImageOver .imageDisToolCont {
    /* @apply rounded-none sm:rounded-2xl; */
    /* @apply overflow-hidden; */
    @apply my-0 sm:my-6;
    @apply flex-1;
    /* @apply h-[250px] 2xs:h-[330px] xs:h-[350px] ss:h-[500px] sm:h-auto; */
    /* @apply flex; */
    @apply relative -z-10;
    /* @apply overflow-x-auto */
  }

  .sectionImage:nth-child(2) .sectionImageOver .imageDisToolCont .imageDisplay {
    @apply rounded-none sm:rounded-2xl;
    @apply overflow-hidden;
    @apply my-0 sm:my-6;
    @apply flex-1;
    /* @apply h-[250px] 2xs:h-[330px] xs:h-[350px] ss:h-[500px] sm:h-auto; */
    @apply flex;
    @apply relative -z-10;
    /* @apply overflow-x-auto */
  }

  .next{
    /* @apply invert-[23%] sepia-[88%] saturate-[7014%] hue-rotate-[356deg] brightness-[98%] contrast-[119%]; */
  }
  .imageDisplay img {
    @apply min-w-full sm:w-auto;
    @apply relative;
    @apply duration-1000;
  }

  .imageDisplay img:nth-child(1) {
    @apply left-[0%];
  }
  .imageDisplay img:nth-child(2) {
    @apply left-[0%];
  }
  .imageDisplay img:nth-child(3) {
    @apply left-[0%];
  }
  .imageDisplay img:nth-child(4) {
    @apply -left-[0%];
  }

  .imageButtonContainer {
    @apply hidden sm:flex flex-row my-5;
  }
  .imageButton {
    @apply flex-1;
    @apply mr-6;
    /* @apply bg-black; */
    @apply rounded-lg sm:rounded-md md:rounded-lg;
    /* @apply hover:opacity-100; */
    /* @apply size-[100px]; */
    /* @apply relative; */
    @apply overflow-hidden;
    @apply border-[2px] border-solid border-transparent;
    @apply cursor-pointer;
  }
  .imageButton img {
    /* @apply p-2; */
    /* @apply rounded-; */
    /* @apply hover:opacity-50 duration-150; */
  }
  /* .imageButton:first-child {
    @apply ml-0;
  }
  .imageButton:last-child {
    @apply mr-0;
  } */

  .sectionDetails {
    @apply flex-1;
    @apply bg-white;
    /* @apply basis-1/2; */
    @apply py-2 sm:py-0 px-4 sm:px-0 m-0 sm:my-8 sm:mx-8 md:my-14 md:mx-[62px];
    @apply w-full sm:w-1/2;
    @apply self-auto sm:self-center;
  }
  .companyName {
    @apply uppercase text-[hsl(26,100%,55%)] font-bold text-sm my-2;
  }
  .productDHeader {
    @apply text-[hsl(220,13%,13%)] font-bold leading-[1] my-2 sm:my-[8px] md:my-3 lg:my-4;
    @apply text-[28px] leading-[2rem] sm:text-2xl md:text-4xl;
  }
  .productDetails {
    @apply text-[hsl(219,9%,45%)] text-base sm:text-sm md:text-base;
    @apply my-4 sm:my-3 md:my-5 lg:my-6;
  }
  .productPrice {
    @apply flex flex-row sm:flex-col;
    @apply justify-between sm:justify-start;
    @apply font-bold;
    @apply my-2 sm:my-2 md:mt-2 md:mb-3;
    @apply items-center sm:items-start;
  }
  .offerPricePercent {
    @apply flex flex-row;
    @apply items-center;
  }
  .offerPrice {
    /* @apply  */
    @apply text-[28px] leading-[2rem] sm:text-2xl md:text-3xl;
  }
  .pricePercentage {
    /* @apply */
    @apply text-[hsl(26,100%,55%)]  bg-[hsl(25,100%,94%)];
    @apply text-sm px-2 py-1 my-2 mx-4;
    @apply rounded-md;
  }
  .normalPrice {
    @apply text-[hsl(219,9%,45%)] text-base sm:text-sm md:text-base line-through;
  }
  .inputCart {
    @apply flex flex-col sm:flex-row;
  }
  .inputCheck {
    @apply flex flex-row;
    @apply bg-[hsl(223,_64%,_98%)];
    @apply rounded-md;
    @apply my-2 lg:my-3;
    @apply mr-0 sm:mr-3;
    @apply w-full sm:w-[40%];
  }
  .inputCheck input[type="number"] {
    @apply w-[80%] sm:w-[33.33%];
    @apply bg-[hsl(223,_64%,_98%)];
    /* @apply px-[30%] sm:px-2; */
    @apply text-center;
    @apply font-bold;
    @apply flex-grow-[8] sm:flex-grow-0;
    /* @apply appearance-none !important; */
    /* -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield; */
  }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .inputCheck input[type="button"] {
    @apply py-3;
    @apply font-bold;
    @apply text-[20px];
    @apply text-[hsl(26,100%,55%)];
    @apply flex-grow-[1] sm:flex-grow-0 sm:shrink-0;
    /* @apply flex items-center my-auto; */
    @apply w-[20%] sm:w-[33.33%];
    @apply hover:opacity-50 hover:duration-150;
    
  }
  .submit {
    @apply flex items-center justify-center;
    @apply bg-[hsl(26,100%,55%)]  text-[hsl(25,100%,94%)];
    @apply rounded-md;
    @apply px-10;
    @apply py-3;
    @apply my-2 lg:my-3;
    @apply w-full sm:w-[60%];
    @apply shadow-xl shadow-[hsl(26,100%,55%)]/30;
    @apply hover:opacity-50 hover:duration-150;
  }
  .submit img {
    /* @apply text-[linear-gradient(to_right,_#FFEDE0_50%,_#000_50%)]; */
    /* @apply fill-white !important; */
    @apply brightness-[1.1];
    @apply size-[18px];
  }

  .submit span {
    @apply px-2;
    @apply text-nowrap;
  }
}
